@model IEnumerable<TicketSystem2.ViewModels.TicketModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (this.User.IsInRole("QA"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (this.User.IsInRole("QA"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                        <a href="javascript:void(0)" onclick="deleteEvent("@item.ID")">Delete</a> 
                    }
                    @if (this.User.IsInRole("RD"))
                    {
                        <a href="javascript:void(0)" onclick="resolveEvent("@item.ID")">Resolve</a> 
                    }
                </td>
            </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        function deleteEvent(targetID) {
            request("@Url.Action("Delete", "Ticket")", targetID);
		}

        function resolveEvent(targetID) {
            request("@Url.Action("resolve", "Ticket")", targetID);
		}

		function request(apiUrl, targetID) {
			$.ajax({
                url: apiUrl,
                data: { id : targetID },
                type: 'post',
                cache: false,
                dataType: 'json',
                success: function (result) {
                    if (result.Success) {
                        alert('success');
						window.location.reload();
                    }
					else {
						alert('failed');
					}
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status + ' ' + thrownError);
                }
            });
		}
    </script>
}